# Core Data Science
pandas
numpy
matplotlib
seaborn
ipykernel

# NLP & Embeddings (torch handled separately in CI)
transformers>=4.41.2
sentence-transformers

# Vector Database
faiss-cpu

# RAG Framework
langchain
langchain-community
langchain-huggingface

# Utilities
python-dotenv
tqdm
scikit-learn
pyarrow

# UI
streamlit

#Test
pytest 
pytest-cov 
pytest-mock

