name: Python Unit Tests

on:
  push:
    branches: [ main, task3,task2, task1 ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        

    - name: Run Preprocessing Verification
      run: |
        python tests/verify_preprocess.py

    - name: Run Cleaning Verification
      run: |
        python tests/verify_cleaning.py

    - name: Run Docs Verification
      run: |
        python tests/verify_docs.py
